{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"tabWidth": 4,
	"arrowParens": "always",
	"bracketSpacing": true,
	"svelteStrictMode": true,
	"svelteSortOrder": "options-styles-scripts-markup",
	"svelteAllowShorthand": false,
	"svelteIndentScriptAndStyle": true,
	"htmlWhitespaceSensitivity": "strict",
	"semi": true,
	"jsxSingleQuote": true,
	"overrides": [
		{
			"files": "*.ts",
			"options": {
				"parser": "typescript"
			}
		}
	]
}
